@media (max-width: 1620px){



}
@media (max-width: 1400px) {
    h1 {
        font-size: 48px;
       
    }
    .hero-section .text-28 {
        margin: 16px 0 24px 0;
        max-width: 790px;
    }
    .text-28 {
        font-size: 20px;
        line-height: 150%;
    }
    .margin-100 {
        margin: 100px 0;
    }

    h2{
        font-size: 36px;
    }
    .guid-image {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        overflow: hidden;
    }
    .guide-card h3 {
        transition-duration: .3s;
        font-size: 22px;
    }

}
@media (max-width: 1200px){
    .tours-grid{
        grid-template-columns:repeat(2, 1fr);
    }
    .adminlogin{
        width: 50%;
    }
    .tour-image {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    .burger-icon{
        display: flex !important;
        gap: 4px;
       margin-left: auto;
    }
    .hero-section{
        max-height: 700px;
    }
    .aboutus .flex {
        gap: 50px;
    }
    .body-text {
        margin: 16px 0 24px 0;
    }
    h2 {
        font-size: 32px;
    }
    .tours .tour-card {
        height: 400px;
    }
    .swiper-button-prev {
        left: -50px;
    }
    .swiper-button-next {
        right: -50px;
    }
    .tour-card-text h3 {
        font-size: 22px;
    }

    .tour-card-text{
        gap: 22px;
        padding: 34px 24px;
        bottom: -150px;
    }
    .contact-img {
        align-items: center;
    }
    .contact-img img{
        max-width: 80%;
    }
    .contactus .btn {
    
        max-width: 60%;
    }
    .footer .footer-background-image1 {
     
        width: 100px;
    }
    .footer .footer-background-image2 {
   
        width: 100px;
    }
    .heading {
       
        margin-bottom: 40px;
    }
    .margin-100 {
        margin: 80px 0;
    }
    .tours .swiper-pagination-tours {
    
        margin-top: 30px;
    }
    .burger-menu{
        padding: 48px 24px 148px 24px;
        position: fixed;
        flex-direction: column;
        top: 100px;
      border-radius: 0 0 0 24px;
        right: -100%;
        background-color: #fff;
        transition-duration: .5s;
        max-width: 100%;
    }
    .burger-menu nav{
        flex-direction: column;
        gap: 20px;
        margin-bottom: 40px;
    }
    .nav-buttons{
        flex-direction: column;
        gap: 20px;
    }
    .logo span {
        font-size: 69px;
    }
    .burger-menu.open{
        right: 0;
    }
    .header.white {
        background-color: #fff;
    }
     .header.white,
     .header.white input, 
     .header.white select,
     .header.white span,
     .icon-search {
        color: #000;
     }
     .icon-search {
        color: red;
     }
     
}
@media (max-width: 992px) {
    .aboutus .width-50{
        width: 100%;
        padding: 0;
    }
    .margin-50 {
        margin: 50px 0;
    }
    .contact-img img {
       
        align-self: center;
    }
    .contact-inputs{
        max-width: 80%;
        align-self: center;
    }
    .image-grid{
        grid-template-columns: auto auto;
    }
    .adminlogin{
        width: 60%;
    }
    .hero-section{
        max-height: 500px;
    }
    h1 {
        font-size: 28px;
    }
    .text-28 {
        font-size: 18px;
       
    }
    .flex.column {
        flex-direction: column;
    }
    .flex.column  .width-50{
        width: 100%;
    }
    .margin-100 {
        margin: 60px 0;
    }
    .aboutus .justify-end {
        justify-content: center;
        order: -1;
    }
    h2 {
        font-size: 24px;
    }
    .contact-img{
       justify-content: center;
       margin-bottom: 40px;
    }
    .contact-img img {
        max-width: 59%;
    }
    .swiper-button-prev {
        display: none;
    }
    .swiper-button-next {
        display: none;
    }
    .footer .flex.column{
        flex-direction: row;
    }
    .footer-nav{
        flex-direction: column;
        gap: 20px;
        justify-content: flex-start;
    }
.guides .flex{
    align-items: center;
}
.tours-detail .tour-text{
    width: 100%;
    padding: 0;
}
.tours-detail {
    margin: 50px 0;
}
.tour-info{
    margin-bottom: 0;
}
.tour-map{
    width: 100%;
    height: 250px;
    margin-top: 50px;
}
.guide-card {
   max-width: 70%;
}
.tour-info{
    flex-wrap: wrap;
    border-radius: 24px;
}
.tour-infobox{
    width: 50%;
    margin: 12px 0;
    
}
.tour-infobox:nth-child(even){
    border: none;
}

}
@media (max-width: 768px){
    .tours-grid{
        grid-template-columns:1fr;
    }
    .search-page form{
        width: 100%;
        margin: 25px auto;
    }
    .search-result{
        margin-top: 40px;
    }
    .contact-inputs{
        max-width: 100%;
        align-self: center;
    }
    .adminlogin{
        width: 90%;
    }
    .adminlogin h1{
        font-size: 24px;
    }
    .swiper-button-prev {
        display: block;
        left: 0px;
    }
    .swiper-button-next {
        display: block;
        right: 0px;
    }

    .tour-slider{
        width: 80%;
        margin: 0 auto;
    }
    .tours .tour-card {
        height: 500px;
    }
    .contactus form {
    
        row-gap: 18px;
    }
    
}
@media (max-width: 576px){
    .footer .flex.column {
        flex-direction: column;
    }
    .footer-contact,
  .footer-nav {
    width: 100%;
  }
  .footer-nav {
    margin-left: 0;
    margin-top: 40px;
  }
}
  


@media (max-width: 440px) {
    
    
}